/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse {
    background-color:#41dfff;
    color:black;
}

    .navbar-inverse .navbar-brand {
        color: black;
    }
    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/*additions made to css normally scss or less would be used*/

#HomeIndexContext{
    text-align:center;
    min-height:600px;
}

input[type=text] {
    font-size: 22px;
    height: 36px;
    width: 200px;
    border-color: #41dfff;
    text-align:left;
}

    input[type=text].error {
        border-color: #ff3333;
    }

.button {
    font-size: 22px;
    height: 36px;
    width: 200px;
    background-color: #41dfff;
    margin:20px auto;
    padding:4px 0 0 0;
    -webkit-box-shadow: 3px 3px 5px -1px rgba(112,105,112,1);
    -moz-box-shadow: 3px 3px 5px -1px rgba(112,105,112,1);
    box-shadow: 3px 3px 5px -1px rgba(112,105,112,1);
}

    .button:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow:none;
    }

.display-values{
    font:28px;  
    
}
    .display-values div {
        padding: 2px 20px;
        text-align: left;
    }
    .display-values .labels{
        text-align:right;
        font-weight:bold;
    }

    .display-values img{
        max-height: 300px;
        max-width:300px;
        
    }
.error-message {
    color: #ff3333;
    font-size:32px;
}