@model SearchResultModel

@{
    ViewData["Title"] = "Search Page";
}


    <div id="HomeIndexContext">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    C3 Shared Services GitHub search
                </h2>

                <input type="text" placeholder="GitHub Username" data-bind="value:searchName, css:{error :returnedError}" />

                <div class="button " data-bind="click:$root.Search">Search</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 display-values" data-bind="visible:searchResults.success">
                <div class="row">
                    <div class="col-md-6 labels">Login Name</div>
                    <div class="col-md-6"> <span data-bind="text:searchResults.data()? searchResults.data().login: ''"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 labels">Name</div>
                    <div class="col-md-6">
                        <span data-bind="text:searchResults.data()?searchResults.data().name: 'Not specified'"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 labels">Location</div>
                    <div class="col-md-6 ">
                        <span data-bind="text:searchResults.data()?searchResults.data().location: 'Not specified'"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 labels">Public repos</div>
                    <div class="col-md-6">
                        <span data-bind="text:searchResults.data()?searchResults.data().public_repos: ''"></span>
                    </div>
                </div>

                 <img data-bind="attr:{src:searchResults.data()?searchResults.data().avatar_url: ''}" />

            </div>
            <div class="col-md-12" data-bind="hidden:searchResults.success">
                <span class="error-message" data-bind="text:searchResults.message">
                    Search for users
                </span>
            </div>
        </div>
    </div>

<script type="text/javascript">
     var model = @Html.Raw(Json.Serialize(Model));
    var viewModel = ko.mapping.fromJS(model);
    var VM = HomeIndexController(viewModel, '@Url.Content("~")', 'HomeIndexContext');
</script>
